html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
body {
  font-family: Helvetica;
  font-size: 100%;
  text-align: center;
  color: #333333;
  background: #ffffff;
}
a:link,
a:visited,
a:hover {
  color: #45a12a;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.all {
  background: transparent;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.outer-wrapper {
  border: 0px solid blue;
}
.site {
  margin: 0px auto 0px auto;
  vertical-align: top;
  padding: 300px 0px 0px 0px;
  width: 100%;
}
.site-impressum {
  margin: 0px auto 0px auto;
  vertical-align: top;
  padding: 0px 0px 0px 0px;
}
.left {
  background: url(../images/bg.gif) repeat-x;
  border: 0px solid red;
  margin: 0px 0px 0px 0px;
  width: 25%;
  vertical-align: top;
}
.site-impressum .left {
  background: transparent;
  border: 0px solid red;
  margin: 0px 0px 0px 0px;
  width: 25%;
  vertical-align: top;
}
.right {
  border: 0px solid black;
  width: 25%;
  vertical-align: top;
}
.mitte {
  width: 50%;
  margin: 0px auto;
  border: 0px solid red;
  vertical-align: top;
  text-align: left;
}
.mitte p {
  padding: 0px 0px 0px 0px;
  font-size: 0.8em;
  line-height: 1.6em;
}
.fields {
  margin: 10px 0px 0px 0px;
  color: #45a22b;
  font-size: 0.9em;
  line-height: 1.5em;
}
.black {
  color: #333333;
}
